kwmc rule owner="App Store" properties={float="true"}
kwmc rule owner="Finder" properties={float="true"}
kwmc rule owner="System Preferences" properties={float="true"}
kwmc rule owner="iTerm2" properties={role="AXDialog"}
kwmc rule owner="Chrome" properties={role="AXDialog"}
