"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-clock":
    showClockIcon: true
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-js-specs"
      "language-js-specs"
      "latex"
      "latexer"
      "linter-cpplint"
      "linter-pylint"
      "linter-gcc"
      "markdown-preview"
      "pdf-view"
      "markdown-themeable-pdf"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/Alberto/Development/github"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Roboto Mono"
    fontSize: 12
    invisibles: {}
    scrollSensitivity: 60
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "7d5bf2a8-56ac-88aa-4ce4-8791fb752f91"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      analytics: false
  jsformat:
    format_on_save: false
    indent_with_tabs: true
    keep_array_indentation: true
    keep_function_indentation: true
    space_before_conditional: false
  linter: {}
  "linter-docker": {}
  "linter-gcc":
    execPath: "/usr/local/bin/g++-6"
    gccSuppressWarnings: true
  "linter-matlab": {}
  "linter-pylint": {}
  "linter-ui-default":
    decorateOnTreeView: "None"
    panelHeight: 69
    showPanel: true
  "make-runner":
    hidePane: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  "markdown-themeable-pdf": {}
  minimap:
    adjustAbsoluteModeHeight: true
    disablePythonDocLinks: true
    scrollAnimation: true
  "one-dark-ui":
    tabSizing: "Minimum"
  "python-isort":
    sortOnSave: true
  "python-yapf":
    formatOnSave: true
  "remote-sync":
    autoHideLogPanel: true
    foldLogPanel: true
  script:
    cwdBehavior: "Directory of the script"
    enableExecTime: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideIgnoredNames: true
  "tree-view-git-branch":
    separator: true
  welcome:
    showOnStartup: false
".hyperlink.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".makefile.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".text.todo":
  editor:
    preferredLineLength: 100
    tabLength: 4
