"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ffcfa7e1-29f3-4dc4-a541-2adc5811304c"
  "atom-gpg":
    gpgHomeDir: "~/.gnupg/"
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-js-specs"
      "language-js-specs"
      "vim-mode"
      "latex"
      "linter-markdown"
      "latexer"
      "linter-pylint"
      "gpp-compiler"
    ]
    projectHome: "/Users/Alberto/Development/github"
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "7d5bf2a8-56ac-88aa-4ce4-8791fb752f91"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "gcc-make-run":
    args: "< testsets/sample.in"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "gpp-compiler": {}
  jsformat:
    format_on_save: false
    indent_with_tabs: true
    keep_array_indentation: true
    keep_function_indentation: true
    space_before_conditional: false
  "jupyter-notebook": {}
  linter:
    errorPanelHeight: 188
    ignoredMessageTypes: [
      "Warning"
    ]
  "linter-docker": {}
  "linter-matlab": {}
  "linter-pylint": {}
  "markdown-themeable-pdf": {}
  minimap:
    adjustAbsoluteModeHeight: true
    scrollAnimation: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  nuclide:
    lastConnectionDetails:
      lastOfficialRemoteServerCommand: "nuclide-start-server"
      updatedConfig:
        authMethod: "PRIVATE_KEY"
        cwd: "/imatge/amontes/work/C3D"
        displayTitle: "(default)"
        host: "imatge.upc.edu"
        password: ""
        pathToPrivateKey: "/Users/Alberto/.ssh/imatge_rsa"
        remoteServerCommand: "~/work/node_modules/.bin/nuclide-start-server"
        sshPort: "2231"
        username: "amontes"
    "nuclide-home":
      showHome: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "project-manager":
    environmentSpecificProjects: true
  "python-isort":
    sortOnSave: true
  "screen-send":
    terminalType: "MacOS X Terminal"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
    ]
  "terminal-plus":
    style:
      theme: "homebrew"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  "tree-view-git-branch":
    separator: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".hyperlink.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".makefile.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".text.todo":
  editor:
    preferredLineLength: 100
    tabLength: 4
